* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: aqua;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
  font-family: "harri", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-family: "harri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: red;
}

.nav li:hover {
  background-color: blue;
}

.toggle-button {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .toggle-button {
    display: flex;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
  }

  .nav li {
    text-align: center;
  }

  .nav ul.active {
    display: flex;
  }
}
